<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.openjee.au.role.dao.RoleDao">
	<resultMap id="BaseResultMap" type="com.openjee.au.role.model.Role">
		<result column="roleid" property="roleid" jdbcType="INTEGER"/>
		<result column="rolecode" property="rolecode" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="Base_Column_List">
		roleid,rolecode
	</sql>
	<select id="getAll" resultMap="BaseResultMap" >
		select *  
		from au_role
	</select>
	
	<select id="getRoleById" resultType="com.openjee.au.role.model.Role">
		select * from au_role where roleid=#{roleId}
	</select>
	
	<select id="getRoleByCode" resultType="com.openjee.au.role.model.Role">
		select * from au_role where rolecode=#{roleCode}
	</select>
	
	<insert id="saveRole" parameterType="com.openjee.au.role.model.Role">
		<selectKey keyProperty="roleid" resultType="java.lang.String" order="BEFORE">
	    	select replace(uuid(),'-','') from dual
	    </selectKey>
		insert into au_role(roleid,rolecode,rolename)  
             values(#{roleid},#{rolecode},#{rolename})  
	</insert>
	
	<update id="updateRole" parameterType="com.openjee.au.role.model.Role">
		update au_role set rolecode=#{rolecode},rolename=#{rolename} where roleid=#{roleid}
	</update>
	
	<delete id="deleteRoleById" parameterType="java.lang.String">
		delete from au_role where roleid=#{roleId}
	</delete>
	
</mapper>  